body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f8ff; /* bleu clair rappelant les terrains */
}

header {
  background-color: #006400; /* vert badminton */
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #006400;
}

img {
  width: 300px;
  display: block;
  margin: 15px 0;
}

table {
  border-collapse: collapse;
  width: 80%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #006400;
  color: white;
  text-align: center;
  padding: 10px;
}





